<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Selecione uma opção</h1>
    <ul>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/produtos">Produtos</a></li>
    </ul>
</body>
</html>
